ctransformers==0.2.5
sentence-transformers==2.2.0
pinecone-client
langchain
pypdf
python-dotenv==0.19.2
setuptools
streamlit==1.22.0
transformers
#langchain-google-genai
PyPDF2
langchain-community
google-generativeai

pytesseract
pdf2image
opencv-python
#PyMuPDF
PyMuPDF==1.20.2

#flatbuffers>=23.5.26
keras==2.9.0
tensorboard==2.9.1
Pillow==9.5.0
transformers
tensorflow==2.12.0
torch
matplotlib-venn
cartopy
tf2onnx
python-doctr
huggingface_hub==0.10.0
tensorflow-addons==0.17.1
tf2onnx==1.13.0
onnx==1.12.0
googleapis-common-protos==1.56.4
protobuf==3.19.6
paddleocr>=2.0.1
rapidfuzz==1.5.0


#export PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python

#pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118  #Also install this from teminal.